body { background: #ddbb89; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 18px; display: flex; }
.block-cache-0 { color: #f16a1f; font-size: 20px; margin-bottom: 5px; }
.block-uploader-1 { color: #2e97bf; font-size: 18px; margin-bottom: 5px; }
.block-auth-2 { color: #69f995; font-size: 20px; margin-bottom: 5px; }
.block-cache-3 { color: #c93930; font-size: 17px; margin-bottom: 5px; }
.block-filter-4 { color: #881cbd; font-size: 20px; margin-bottom: 5px; }